@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color1: #ff5500;
    --color2: #f3f3f3;
    --color3: #101010;

    --midle-info-width: 65%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color2);
    font-family: "Poppins", sans-serif;
    color: var(--color3);
    
}header{
    width: 100%;
    height: 3rem;
    padding: 1rem;

    background-color: var(--color2);
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}.logo>img{
    width: 40px;
}nav{
    display: flex;
    gap: 1rem;
}button{
    cursor: pointer;
    border-style: none;
}a{
    color: inherit;
    text-decoration: none;
}a:not(.call):hover{
    text-decoration: underline;
    color: var(--color1);
    transition: .4s;
}a.call>button{
    padding: 1rem;
    height: 40px;

    border-radius: 20px;
    

    background-color: var(--color1);
    color: var(--color2);

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bolder;
    font-size: 1.2rem;
}a.call2>button{
    background-color: transparent;
    border: 2px solid var(--color1);
    color: var(--color1);
}

#hero{
    padding: 1rem;
    margin: 1rem;
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    background-color: black;
    background-image: url(images/laptop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25vw;
    
    border-radius: .5rem;
    color: var(--color2);
}#hero>div{
    width: var(--midle-info-width);
}

h1{
    width: 100%;
    font-size: clamp(2.5rem, 6vw, 5rem);
}h2{
    font-size: 3rem;
}#sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 2rem;
    
}#sobre>p{
    width: var(--midle-info-width);
    text-align: justify;
}#servicos{
    color: var(--color2);
    background-color: var(--color3);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
}#servicos>div{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 70%;
    height: 300px;
}#servicos img{
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border: 2px solid var(--color1);
    border-radius: 1rem;

}#servicos ul{
    padding: 1rem;
}#servicos li{
    position: relative;
}#servicos li::before{
    content: '';
    display: block;
    background-color: #ff5500;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -1rem;
    border-radius: 50%;


}.servico{
    border-radius: 1rem;
    border: 2px solid var(--color1);
    height: 100%;
    aspect-ratio: 2/1;

    padding: 1rem;
}.end{
    align-self: flex-end;
}.start{
    align-self: flex-start;
}

footer{
    background-color: var(--color3);
    color: var(--color2);
    padding: 1rem;
}footer h2{
    font-size: 1.5rem;
    max-width: 350px;
    margin-bottom: 1rem;
}footer i{
    font-size: 3.5rem;
}footer>div{
    display: flex;
    width: 100%;
    
}footer>div:first-child{
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.425);
    padding: 1rem;
}footer>div:last-child{
    justify-content: center;
    padding-top: 1rem;
}ul{
    list-style: none;
}.links{
    display: flex;
    gap: 2rem;
}h3, h2{
    color: var(--color1);
}
#clientes{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    padding: 2rem;
}.depoimento{
    display: flex;
    justify-content: center;
    width: var(--midle-info-width);
    gap: 2rem;

    position: relative;

}.depoimento img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: center;
    border-radius: 60px;
    border: 2px solid var(--color1);


}.depoimento>div{
    width: 80%;
}
@media (max-width: 610px) {
    :root{
        --midle-info-width: 90%;
    }#hero{
        background-position: 50vw;
        min-height: 65vh;
    }
}